# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Distribution / packaging
build*/

# VS
.vscode/
.vs/

cmake-build-debug/

src/examples/data/*/FeatureSummary.csv
src/examples/data/*/SequenceSummary.csv
src/examples/data/HPLC_UV_Standards/features/
src/examples/data/HPLC_UV_Unknowns/features/
src/examples/data/LCMS_MRM_Standards/features/
src/examples/data/LCMS_MRM_Unknowns/features/
src/examples/data/LCMS_MRM_QCs/
src/examples/data/GCMS_SIM_Unknowns/features/
src/examples/data/GCMS_FullScan_Unknowns/
src/tests/class_tests/smartpeak/data/SequenceParser_writeDataMatrixFromMetaValue.csv
src/tests/class_tests/smartpeak/data/SequenceParser_writeDataTableFromMetaValue.csv