# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Distribution / packaging
build*/

# VS
.vscode/
.vs/

src/examples/data/*/FeatureSummary.csv
src/examples/data/*/SequenceSummary.csv
cmake-build-debug/
src/examples/data/HPLC_UV_Standards/features/0p5ug.featureXML
src/examples/data/HPLC_UV_Standards/features/1000ug.featureXML
src/examples/data/HPLC_UV_Standards/features/100ug.featureXML
src/examples/data/HPLC_UV_Standards/features/10ug.featureXML
src/examples/data/HPLC_UV_Standards/features/1ug.featureXML
src/examples/data/HPLC_UV_Standards/features/2500ug.featureXML
src/examples/data/HPLC_UV_Standards/features/250ug.featureXML
src/examples/data/HPLC_UV_Standards/features/25ug.featureXML
src/examples/data/HPLC_UV_Standards/features/2p5ug.featureXML
src/examples/data/HPLC_UV_Standards/features/5000ug.featureXML
src/examples/data/HPLC_UV_Standards/features/500ug.featureXML
src/examples/data/HPLC_UV_Standards/features/50ug.featureXML
src/examples/data/HPLC_UV_Standards/features/5ug.featureXML
src/examples/data/HPLC_UV_Standards/features/750ug.featureXML
src/examples/data/HPLC_UV_Standards/features/sequence1_quantitationMethods.csv
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA1_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA2_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA3_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA4_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA5_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA6_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA7_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA8_UV_VIS_2.featureXML
src/examples/data/HPLC_UV_Unknowns/features/20171013_HMP_C61_ISO_P1_GA9_UV_VIS_2.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level1.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level10.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level11.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level12.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level13.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level14.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level15.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level2.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level3.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level4.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level5.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level6.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level7.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level8.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM1_Level9.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level1.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level10.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level11.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level12.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level13.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level14.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level15.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level2.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level3.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level4.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level5.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level6.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level7.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level8.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM2_Level9.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level1.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level10.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level11.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level12.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level13.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level14.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level15.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level2.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level3.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level4.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level5.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level6.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level7.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level8.featureXML
src/examples/data/LCMS_MRM_Standards/features/150516_CM3_Level9.featureXML
src/examples/data/LCMS_MRM_Standards/features/segment1_quantitationMethods.csv
src/examples/data/LCMS_MRM_Unknowns/features/170808_Jonathan_yeast_Sacc1_1x.featureXML
src/examples/data/LCMS_MRM_Unknowns/features/170808_Jonathan_yeast_Sacc2_1x.featureXML
src/examples/data/LCMS_MRM_Unknowns/features/170808_Jonathan_yeast_Sacc3_1x.featureXML
